{% extends "base.html" %} {% load static %} {% block App %}
<div id="App" class="container">
  <div class="row">
    <div class="col-11">
      <h1 class="display-1 text-center">{{header}}</h1>
    </div>
  </div>
  <form action="/edit/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="note_id" value="{{note_id}}" />
    <label for="title">Title</label>
    <div class="input-group mb-3">
      <input
        name="title"
        type="text"
        class="form-control"
        row="1"
        value="{{title}}"
        autocomplete="off"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        name="description"
        id=""
        cols="20"
        rows="7"
      >
{{desc}}</textarea
      >
    </div>
    <div class="mb-3">
      <label for="id_image" class="form-label">Add an image (optional) </label>
      <input
        class="form-control"
        type="file"
        name="image"
        accept="image/*"
        id="id_image"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <p class="col-md-4 mb-0 text-muted">
      <a href="{{note_link}}" class="link-primary">Back</a>
    </p>
  </footer>
</div>
<script src="{% static 'Notes/media.js' %}"></script>
{% endblock %}
