{% extends "base.html" %}
{% load static %}
{% block App %}
<div id="App" class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-1 text-center">{{header}}</h1>
    </div>
  </div>
  <form action="/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">Title *</label>
    <div class="input-group mb-3">
      <input
        name="title"
        type="text"
        class="form-control"
        row="1"
        value=""
        autocomplete="off"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">Description *</label>
      <textarea
        class="form-control"
        rows="3"
        name="description"
        required
      ></textarea>
    </div>
    <br />
    <div class="mb-3">
      <label for="id_image" class="form-label"
        >Add an image (optional)
      </label>
      <input
        class="form-control"
        type="file"
        name="image"
        accept="image/*"
        id="id_image"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-success">Add</button>
    </div>
  </form>

  <br />
  <ul class="list-group">
    {% for m in messages %}
    <li class="list-group-item hover-list" id="{{m.id}}">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center">
            {% if m.image %}
            <div class="card" style="width: 18rem">
              <img src="{{m.image.url}}" class="card-img-top" alt="..." />
              {% else %}
              <div class="card" style="width: 100%">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title text-center">{{m.title}}</h5>
                <p class="card-text">{{m.text}}</p>
                <a href="/notes/{{m.id}}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <h3 class="row text-muted">
      <a
        href="/admin"
        class="link-light text-decoration-none"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="bi bi-terminal"></i> Admin
      </a>
    </h3>

    <h3 class="row text-muted">
      <a
        href="https://github.com/akamran2001/django-crud"
        class="link-light text-decoration-none"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="bi bi-github"></i> Source
      </a>
    </h3>
  </footer>
  <script src="{% static 'Notes/media.js' %}"></script>
  <script src="{% static 'Notes/index.js' %}"></script>
</div>
{% endblock %}

