{% extends "base.html" %} {% load static %} {% block App %}
<div id="App" class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-1 text-center">{{title}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% if img_link != "#" %}
      <img src="{{img_link}}" class="rounded mx-auto d-block" alt="{{title}}" />
      {% endif %}
    </div>
  </div>
  <div class="text-wrap">
    {% for line in lines %}
    <p>{{line}}</p>
    {% endfor %}
  </div>

  <button type="button" class="btn btn-primary">
    <a class="link-light" href="{{edit_link}}"><i class="bi bi-pencil"></i></a>
  </button>

  <button type="button" class="btn btn-danger" id="delete">
    <i class="bi bi-trash"></i>
  </button>

  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <p class="col-md-4 mb-0 text-muted">
      <a href="/" class="link-primary">Back</a>
    </p>
  </footer>
</div>
{% csrf_token %}
<script src="{% static 'Notes/media.js' %}"></script>
<script src="{% static 'Notes/note.js' %}"></script>
{% endblock %}
